.pastaImage {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.h2 {
  text-align: center;
  font-size: xx-large;
}
.body {
  background-image: url("pasta.jpeg");
  color: #60388A;
  font-size: large;
  font-family: "Times New Roman", Times, serif;

}
.h4 {
  font-size: larger;
}
* {
  border: 1px solid rebeccapurple;
  display: auto;
}